// $white: #FFEFB9;
// $background: #FFEFB9;
// $green_light1: #941F1F;
// $green_light3: #7B9971;
// $green_light5: #CE6B5D;
// $green_dark1: #34502B;
// $light_gray: #999;
// $black: #434a54;
// $alert_green: #CE6B5D;


$backgroundsub: #FFEFB9;
$background: #FAFFEB;
$white: #fff;
$green_light1: #7B9971;
$green_light3: #34502B;
$green_light5: #34502B;
$green_dark1: #7B9971;
$light_gray: #999;
$black: #434a54;
$gray: gray;
$mainicon: #CE6B5D;
$headericon: #FAFFEB;
$pink: #CE6B5D;
$red: #941F1F;
$alert_green: #CE6B5D;
$hover: #7B9971;
$headermain: #FAFFEB;

