h1{
  font-size: 16px;
  color: $black;
  text-align: left;
}
h2{
  font-size: 16px;
  color: $black;
  text-align: center;
}
h3,h5,h6,body {
  font-size: 16px;
  color: $black;
}
h4{
  font-size: 16px;
  color: $white;
  text-align: center;
}



