.new-article-select-heading-box{
  widows: 100%;
  min-width:600px;
  height:30px;
  margin:0 auto;
  background-color: $background;
  .new-article-select-box-heading{
    widows: 100%;
    min-width:600px;
    height:30px;
    line-height: 30px;
    margin:0 auto;
    text-align: center;
    background-color: $background;
    color: $green_light1;
  }
}
