.contents-box{
  width: 100vw;
  padding: 10px 40px;
  margin: 10px 40px 40px;
  box-sizing: border-box;
  overflow: scroll;
  border: 2px solid $green_light5;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;

  .content_post {
    position: relative;
    height: 400px;
    color: black;
    background-size: cover;
    background-position: center center;
    border: 2px solid $green_light5;
    border-radius: 5px;
  }

  .success{
    width: 100%;
    height: 150px;
    padding: 10px 20px;
    border: 2px solid $green_light5;
    border-radius: 5px;
    box-sizing: border-box;
    
  }

  form {
    width: 75%;
    margin:0 auto;
    .input-box{
    
    }
    h3 {
      text-align: center;
      font-weight: normal;
      font-size: 20px;
      color: $black;
    }
    .new-article{
    .input-box-title{
      width: 100%;
      line-height: 20px;
    input,textarea {
      width: 100%;
      border-radius: 5px;
      overflow: scroll;
      top:0;
      left:0;
      margin: 10px 0px;
      border: 1px solid $green_light5;
      }
    }
    .input-box-text {
      width: 100%;
      line-height: 20px;

      input,textarea {
        width: 100%;
        overflow: scroll;
        top:0;
        left:0;
        border: 1px solid $green_light5;
        border-radius: 5px;
        margin: 10px 0px;
      }
    }
  }

    #preview-image-box{
  
    }
    input[type="submit"] {
      background-color: $green_light3;
      color: #fff;
      width: 100%;
      border: 1px solid $green_light5;
      border-radius: 5px;

      &:hover {
        background-color: lighten($green_light5, 10%);
      }
    }

    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $green_light3;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
  }
}


.article-post-main-image{
  text-align: center;
  .article-post-main-title {
    width: 50%;
    font-size: 28px;
    line-height:28px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: $green_dark1;
    font-weight: bold;
    // margin-top: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    // border-bottom: 2px solid $green_light5;
  }
  .article-post-main-text  {
    width: 80%;
    font-size: 15px;
    // margin-bottom: 2px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    word-break: break-all;
    margin: 30px auto;
    text-align: left;
    padding: 10px;
    border: 2px dashed $green_light5;

  }

  .article-post-main-info{
    height: 50px;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    .article-post-show-contributer{
      font-size: 15px;
      padding-left: 2px 0px 2px 5px;
      // margin: 0 auto;
      overflow: hidden;
      white-space: pre-wrap;
      text-overflow: ellipsis;
      word-break: break-all;
      color: $green_light3;
    }
    p{
      padding-left: 5px;
      color: $green_dark1;
      font-weight: bold;
    }
      .article-post-show-user {
        padding-left: 5px;
        overflow: hidden;
        white-space: pre-wrap;
        text-overflow: ellipsis;
        word-break: break-all;
        text-align: center;
        color: $green_dark1;
        font-weight: bold;
      }
    }
  }
}
.listing-select-wrapper__box{
  position: relative;
  select {
  margin-top: 5px;
  margin-bottom: 40px;
  height: 45px;
  width: 400px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid $green_dark1;
  background: $green_light3;
  display: inline-block;
  -webkit-appearance: none;
  cursor: pointer;
  }
  i {
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 16px;
    color: $green_dark1;
    font-size: 30px;
  }
}

.article-post-photo__high{
  height:300px;
  width:300px;
  margin: 0 auto;

}

.article-post-photo__low{
  height:80px;
  width:300px;
  margin: 0 auto;
  .product-exhibit-photo__low__image{
  
  }
}

.users-other-article{
  height: 20px;
  width: 100%;
  padding: 3px;

}

.article-show-user-contributed{
  width: 100%;
  margin:0 auto;
  padding: 30px 0px;
  border: 1px solid $green_light5;
  flex-wrap: wrap;
  .article-show-user-contributed-container{
    width: 25%;
    .article-show-user-contributed-main-box{
      border: 1px dashed $green_light5;
      max-width: 300px;
      height: 250px;
      // width: 20%;
      margin: 10px;
      padding: 5px;
      .contributed-box{
        .contributed-main-image{
          height: 150px;
          width: 100%;
          border: 1px dashed $green_light5;
        }
        .article-post-main-title {
          height: 20px;
          line-height: 20px;
          width: 80%;
          margin:5px;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
          // border-bottom: 1px solid $green_light5;
          color: $green_light5;
          font-weight: bold;
          font-size: 18px;
        }
        .article-post-main-text{
          height: 70px;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
          padding-left:5px;
        }
      }
    }
  }
}

.content-main__icon{
  font-size: 15px;
  color: $green_light3;
}

.content-dark__icon{
  font-size: 15px;
  color: $green_dark1;

}


