.main-box{
  height: calc(100% -64px);
  width: 100vw;
  padding-top: 64px;
  box-sizing: border-box;
  z-index: 0;
  background-color: $background;
  // 記事編集画面
  .contents-box{
    height: calc(100vh -64px);
    width: 100vw;
    padding: 60px 40px;
    margin: 10px 40px 40px;
    box-sizing: border-box;
    overflow: scroll;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    background-color: $white;
    .content_post {
      position: relative;
      height: 400px;
      color: black;
      background-size: cover;
      background-position: center center;
      border: 2px solid $green_light5;
      border-radius: 5px;
    }
    .success{
      height: 260px;
      width: 80%;
      font-size: 15px;
      overflow: hidden;
      white-space: pre-wrap;
      text-overflow: ellipsis;
      word-break: break-all;
      margin: 30px auto 0;
      text-align: center;
      padding: 10px;
      border-radius: 20px;
      background-color: $backgroundsub;
      display: block;
      &__box{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: $green_light5;
        font-size: 20px;
        font-weight: 600;
        .success-btn-text{
          margin: 0 auto;
          text-align: center;
          width: 100%;
          // // background-color: $green_light3;
          // color: $green_light5;
          // // border: 1px solid $green_light5;
          // border-radius: 5px;
          // font-size: 20px;
          // font-weight: 600;
          // display: block;
          cursor: pointer;
          // top: 220px;
        }
        .success-btn-link {
          margin: 0 auto;
          text-align: center;
          width: 100%;
          cursor: pointer;
          color: $green_light1;
          font-size: 14px;
          font-weight: 560;

          // width: 140px;
          // margin:0 auto;
          // text-align: center;
          // margin: 20px 20px;
          // color: $green_light1;
          // font-size: 14px;
          // font-weight: 560;
          // border-color: $green_light1;
          // border-radius: 5px;
          // cursor: pointer;
          // display: block;
        }
        a{
          text-align: center;
          cursor: pointer;
        }
      }
    }
    form {
      width: 75%;
      margin:0 auto;
      h3 {
        text-align: center;
        font-weight: normal;
        font-size: 20px;
        color: $black;
      }
      .new-article{
        .input-box-title{
          width: 100%;
          min-width:600px;
          line-height: 20px;
        input,textarea {
          width: 100%;
          min-width:650px;
          border-radius: 5px;
          overflow: scroll;
          top:0;
          left:0;
          margin: 10px 0px;
          border: 1px solid $green_light5;
          }
        }
        .input-box-text {
          width: 100%;
          min-width:650px;
          line-height: 20px;
          input,textarea {
            width: 100%;
            overflow: scroll;
            top:0;
            left:0;
            border-radius: 5px;
            margin: 10px 0px;
            cursor: pointer;
          }
        }
      }
      input[type="submit"] {
        background-color: $green_light1;
        color: #fff;
        width: 100%;
        border-radius: 5px;
        &:hover {
          background-color: $green_light5;
        }
      }
      .form__contribute{
        min-width:650px;
      }
      &__mask {
        background-color: $white;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
        }
        .hidden {
          display: none;
        }
      }
      &__submit {
        background-color: $green_light3;
        border: none;
        color: $white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
    .new-article-select-box  {
      height:300px;
      width: 100%;
      min-width:650px;
      padding: 20px 0 20px 0;
      border-radius: 20px;
      margin:0 auto;
      justify-content: space-around; 
        .input-box-select{
          height:260px;
          padding: 20px 40px;
          background-color: $backgroundsub;
          border-radius: 20px;
          margin:0 auto;
          justify-content: space-around; 
          .input-box-select-container{
            width: 50%;
            margin:0 auto;
            .new-article-select-box-heading{
              height:40px;
              width: 80px;
              min-width: 80px;
              line-height: 40px;
              font-size: 20px;
              font-weight: 600;
              border-radius: 5px;
            }
            .input-box-select-area{
              height:40px;
              width: 300px;
              min-width: 300px;
              line-height: 40px;
              font-size: 20px;
              font-weight: 600;
              border-radius: 5px;
              border: 1px solid $green_light1;
              background-color: $green_light1;
            }
          }
        }
      
    }

  // 記事詳細画面
    .article-post-main-view{
      text-align: center;
      .show-article-select-box{
        height: 200px;
        width: 80%;
        min-width: 500px;
        margin: 0 auto;
        .show-article-select-box-container  {
          height:200px;
          width: 100%;
          min-width:650px;
          padding: 20px 0 20px 0;
          border-radius: 20px;
          margin:0 auto;
          justify-content: space-around; 
          .input-box-select-show{
            height:100px;
            padding: 20px 40px;
            background-color: $backgroundsub;
            border-radius: 20px;
            margin:0 auto;
            .input-box-select-chose{
              font-size: 20px;
              color: $green_light5;
              font-weight: 600;
            }
          }
        }
      }
      // 記事詳細編集削除ボタン
      .show-article-edit-box{
        height: 160px;
        width: 80%;
        min-width: 500px;
        padding: 30px 0;
        margin: 0 auto;
        .input-box-edit-show{
          height:100px;
          padding: 20px 40px;
          background-color: $backgroundsub;
          border-radius: 20px;
          margin:0 auto;
          .input-box-edit-container{
            margin-bottom: 30px;
            a:link {
              color: $white;
            }
            a:visited {
              color: $white;
            }
            &__edit{
              height:30px;
              font-size: 20px;
              text-align: center;
              color: $green_light5;
              font-weight: 600;
              padding: 5px;
              margin:10px auto 0;
              border-radius: 5px;
              background-color: $green_light1;
              cursor: pointer;
              &__btn{
                color: $white;
              }
            }
            &__delete{
              height:30px;
              font-size: 20px;
              text-align: center;
              color: $green_light5;
              font-weight: 600;
              padding: 5px;
              margin:10px auto 0;
              border-radius: 5px;
              background-color: $green_light1;
              cursor: pointer;
              &__btn{
                color: $white;
              }
            }
          }
        }
      }      
      .article-post-main-title {
        width: 50%;
        font-size: 28px;
        line-height:28px;
        text-align: center;
        margin: 0 auto;
        padding: 10px;
        color: $green_dark1;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
      }
      .article-post-main-text  {
        width: 80%;
        font-size: 15px;
        overflow: hidden;
        white-space: pre-wrap;
        text-overflow: ellipsis;
        word-break: break-all;
        margin: 30px auto;
        text-align: left;
        padding: 10px;
        border-radius: 5px;
        background-color: $background;
      }
      .article-post-main-info{
        height: 50px;
        width: 100%;
        margin: 0 auto;
        font-size: 15px;
        .article-post-show-contributer{
          font-size: 15px;
          padding-left: 2px 0px 2px 5px;
          overflow: hidden;
          white-space: pre-wrap;
          text-overflow: ellipsis;
          word-break: break-all;
          color: $green_light3;
        }
        p{
          padding-left: 5px;
          color: $green_dark1;
          font-weight: bold;
        }
        .content-user__icon{
          color: $mainicon;
        }
        .article-post-show-user {
          padding-left: 5px;
          overflow: hidden;
          white-space: pre-wrap;
          text-overflow: ellipsis;
          word-break: break-all;
          text-align: center;
          color: $green_dark1;
          font-weight: bold;
        }
        .article-post-show-like-icon{
          padding: 0 5px;
        }
        .article-post-show-contribute-time{
          padding-left: 5px;
          overflow: hidden;
          white-space: pre-wrap;
          text-overflow: ellipsis;
          word-break: break-all;
          text-align: center;
          color: $green_dark1;
          font-weight: bold;
        }
      }
    }
  }
}
// 記事投稿画像選択ボックス
.dropzone-container{
  clear: both;
  width: 650px;
  min-width:650px;
  height: 100%;
  display: block;
  margin:0 auto;
}
.dropzone-area{
  position:relative;
  display: block;
  box-sizing: border-box;
  width: 650px;
  min-width:650px;
  height: 160px;
  margin: 20px 0 10px 0;
  border: 1px dashed $green_light5;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  background: $white;
  &__label{
    height: 105px;
    width: 100%;
    .dropzone-area-icon {
      position: absolute;
      top: 38%;
    } 
    p{
      font-weight: bold;
      cursor: pointer;
      height: 105px;
      width: 100%;
      padding-top: 55px;
    }
  }
  .input-box-image{
    display:none;
  }
  .input-box-image1{
    display:none;
  }
  .input-box-image2{
    display:none;
  }
  .input-box-image3{
    display:none;
  }
  .input-box-image4{
    display:none;
  }
  .dropzone-box{
    width: 100%;
    height: 160px;
    .input_area{
      #upload-image__btn{
        display: none;
      }
    }
    p{
      font-weight: bold;
      cursor: pointer;
      height: 115px;
      width: 100%;
      padding-top: 55px;
    }
  }
}

// 記事画像編集
.file-form-box {
  margin:0 auto;
  padding: 30px 0px;
  .dropzone-container-edit{
    .dropzone-preview-edit{
      margin: 10px;
      flex-direction: row;
      .img_box_delete-heading {
        width: 120px;
        margin:0 auto;
        font-size: 8px;
        font-weight: 600;
        background-color: $backgroundsub;
        color: $green_light5;
        border-radius: 10px;
      }
      .dropzone-area-edit{
        flex-direction: column; 
        .input-area-container{
          width: 100%;
          flex-direction: column; 
          .input-box-image{
            display:none;
          }
          .choice_area{
            height: 100px;
            width: 100%;
            &__heading{
              font-size: 7px;
              font-weight: 600;
              width: 120px;
              min-width: 120px;
              margin:0 auto;
              background-color: $backgroundsub;
              color: $green_light5;
              border-radius: 10px;
            }
            &__text{
              height: 60px;
              width: 100%;
              font-weight: bold;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

// 記事画像JavaScript
.dropzone-preview {
  display: flex;
}
#preview-image{
  display: flex;
}
.article-edit-img-empty{
  margin: 20px 5px 0 0;
  height: 120px;
  width: 120px;
  display: inline-block;
}
.img_box img {
  margin: 20px 5px 0 0;
  height: 120px;
  width: 120px;
  display: inline-block;
}
.input_img_content {
  height: 114px;
  width: 100%;
}
.btn_wrapper{
  display: flex;
  justify-content: space-between;
  background-color:$green_light3;
  height: 35px;
  width: 120px;
  border-radius: 10px;
}
.btn_delete {
  cursor: pointer;
  color: $white;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  width: 120px;
  border-radius: 10px;
}
.listing-select-wrapper__box{
  position: relative;
  select {
    margin-top: 5px;
    margin-bottom: 40px;
    height: 45px;
    width: 400px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid $green_dark1;
    background: $green_light3;
    display: inline-block;
    -webkit-appearance: none;
    cursor: pointer;
  }
  i {
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 16px;
    color: $green_dark1;
    font-size: 30px;
  }
}
// 記事詳細
.article-post-photo__high{
  height:300px;
  width:300px;
  margin: 0 auto;
}
.article-post-photo__low{
  height:80px;
  width:300px;
  margin: 0 auto;
}
// 投稿者のその他の記事
.users-other-article{
  height: 20px;
  width: 100%;
  padding: 3px;
}
.article-show-user-contributed{
  width: 100%;
  margin:0 auto;
  padding: 30px 0px;
  border-radius: 10px;
  background-color: $backgroundsub;
  flex-wrap: wrap;
  .article-show-user-contributed-container{
    width: 25%;
    .article-show-user-contributed-main-box{
      max-width: 300px;
      height: 250px;
      margin: 10px;
      padding: 5px;
      border-radius: 10px;
      background-color: $white;
      .contributed-box{
        .contributed-main-image{
          height: 150px;
          width: 100%;
        }
        .article-post-main-title {
          height: 20px;
          line-height: 20px;
          width: 80%;
          margin:5px;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
          color: $green_light5;
          font-weight: bold;
          font-size: 18px;
        }
        .article-post-main-text{
          height: 70px;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
          padding-left:5px;
        }
      }
    }
  }
}
.article-detail__name  {
  margin-bottom: 10px;
}
.article-detail__content{
  width: 80%;
  margin-top: 10px;
  margin-bottom: 30px;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: pre-wrap;
  border-bottom: 2px solid $green_light5;
}
.article-detail__title{
  width: 40%;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: pre-wrap;
  border-bottom: 2px solid $green_light5;
}
.article-detail__text{
  width: 96%;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  word-break: break-all;
  margin-bottom: 20px;
}
// アイコン
.content-main__icon{
  font-size: 15px;
  color: $mainicon;
}
.content-dark__icon{
  font-size: 15px;
  color: $mainicon;
}
.header-btn__icon{
  font-size: 15px;
  color: $headericon;
}
.like-btn__icon{
  font-size: 15px;
  color: $gray;
}
.liked-btn__icon{
  font-size: 15px;
  color: $pink;
}

.change-pink{
  color: $pink;
}
.change-gray{
  color: $gray;
}





