// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// インデックスメイン
.main-box{
  height: calc(100vh -64px);
  width: 100vw;
  padding-top: 64px;
  box-sizing: border-box;
  z-index: 0;
  background-color: $background;
  .main-contents {
    height: calc(100vh -5px);
    width: calc(100vw - 200px);
    padding: 10px 0;
    margin: 0;
    box-sizing: border-box;
    overflow: scroll, hidden;
    .index-render-box-search{
      background-color: $green_light1;
      padding: 10px 0;
    }
    .index-render-box{
      background-color: $background;
      padding: 10px 0;
    }
    .index-render-box-green{
      background-color: $green_light1;
      padding: 10px 0;
    }
    .index-render-box-lightgreen{
      background-color: $background;
      padding: 10px 0;
    }

    .kaminari-search{
      // width: 200px;
      padding: 10px 0px;
      margin:0 auto;
      box-sizing: border-box;
      background-color: $background;
    }
    .kaminari{
      // width: 200px;
      padding: 10px 0px;
      margin:0 auto;
      box-sizing: border-box;
    }
    p4 {
      margin: 10px auto 0;
      text-align: center;
      height: 30px;
      width: 100%px;
      background-color: $green_light3;
      color: #fff;
      border: 1px solid $green_light5;
      border-radius: 5px;
      font-size: 20px;
      line-height: 30px;
      display: block;
      cursor: pointer;
    }
    .article-post-index{
      margin: 10px;
      .article-post{
        height: 150px;
        max-width: 800px;
        padding: 10px 20px;
        margin:0 auto;
        border-radius: 5px;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: normal;
        justify-content: center; 
        align-items: center; 
        background-color: $white;
        .article-post-content{
          width: calc(100% - 120px);
          padding: 0 20px;
          box-sizing: border-box;
          margin:0 auto;
          .article-post__title{
            height: 22px;
            line-height: 22px;
            width: 80%;
            font-size: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            color: $green_light5;
            font-weight: bold;
          }
          .article-post__text{
            height: 90px;
            font-size: 15px;
            margin-bottom: 2px;
            overflow: hidden;
            white-space: pre-wrap;
            text-overflow: ellipsis;
            word-break: break-all;
          }
          .users-resource-select{
            height: 20px;
            float: left;
            justify-content: space-between; 
            align-items: baseline; 
            .content-user__icon{
              font-size: 15px;
              color: $green_light3;
            }
            a{
              text-decoration: none;
            }
            &__name {
              font-size: 16px;
              color: $green_light1;
            }
            &__detail{
              font-size: 14px;
              padding-left: 5px;
            }
            &__edit{
              font-size: 14px;
              padding-left: 5px;
            }
            &__delete{
              font-size: 14px;
              padding-left: 5px;
            }
            .users-post-time-index{
              font-size: 14px;
              padding-left: 10px;
              color: $green_dark1;
            }
          }
        }
        .article-post__image{
          height: 120px;
          width: 120px;
        }
      }
    }
    // マイページトップ
    .main-contents-mypage-heading{
      text-align: center;
      margin:5px auto 0;
      padding: 10px;
      font-size: 26px;
      font-weight: bold;
      color: $green_light5;
    }
    .articles-box-mypage-heading{
      text-align: center;
      margin:0 0 30px 0;
      padding: 2px 0;
      font-size: 20px;
      font-weight: bold;
      color: $green_light5;
      background-color: $green_light1;
      border-radius: 10px;
    }
  }
}

.category-show{
  width:200px;
  min-width: 200px;
  text-align: center;
  margin:0 auto;
}
.main-box-footer{
  height: 300px;
  width: 100%;
  background-color: $background;
}
.main-box-footer-conplete{
  margin-top:60px;
  height: 400px;
  width: 100%;
  background-color: $white;
}
