// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-box{
  height: calc(100vh -64px);
  width: 100vw;
  padding-top: 64px;
  box-sizing: border-box;
  z-index: 0;

  .main-contents {
    height: calc(100vh -5px);
    width: calc(100vw - 200px);
    padding: 10px 60px;
    margin-bottom: 60px;
    box-sizing: border-box;
    overflow: scroll, hidden;
    

    .article-post{
      height: 150px;
      padding: 10px 20px;
      margin:10px 0 auto;
      border: 2px solid $green_light5;
      border-radius: 5px;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: normal;
      justify-content: center; 
      align-items: center; 


      .article-post-content{
        width: calc(100% - 120px);
        padding: 0 20px;
        box-sizing: border-box;
        margin:0 auto;

        .article-post__title{
          height: 22px;
          line-height: 22px;
          width: 80%;
          font-size: 22px;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
          // border-bottom: 2px solid $green_light5;
          color: $green_light5;
          font-weight: bold;
        }

      .article-post__text{
        height: 90px;
        font-size: 15px;
        margin-bottom: 2px;
        overflow: hidden;
        white-space: pre-wrap;
        text-overflow: ellipsis;
        word-break: break-all;
      }

    .users-resource-select{
      height: 20px;
      float: left;
      justify-content: space-between; 
      align-items: baseline; 
      .content-user__icon{
        font-size: 15px;
        color: $green_light3;
      }

      a{
        text-decoration: none;

      }

      &__name {
        font-size: 16px;
        color: $green_dark1;

      }

      &__detail{
        font-size: 14px;
        padding-left: 5px;
      
    }
      &__edit{
        font-size: 14px;
        padding-left: 5px;
      }
      &__delete{
        font-size: 14px;
        padding-left: 5px;
      }
    }
  }

  .article-post__image{
    height: 120px;
    width: 120px;
  }
}

  .kaminari{
    padding: 10px 10px;
    margin: 10px;
    box-sizing: border-box;
    }
  }
}
