.header-low
  .header-low__row
    .left-header-low-btn.displayflex
      .main-contents-categories.displayflex
        .main-contents-categories__dogs
          犬
        .main-contents-categories__cats
          猫
        .main-contents-categories__smallanimals
          小動物
        .main-contents-categories__others
          その他
      .main-contents-other.displayflex
        .main-contents-other__follow
          フォロー
        .main-contents-other__myitem
          マイアイテム
        .main-contents-other__event
          イベント

    .right-header-low-btn 
      .ranking-order.displayflex 
        .ranking-order__new
          新着記事
        .ranking-order__popularity
          人気記事
