.contents-box
  = form_with(model: @article, local: true, multipart: true ) do |form|
    %h3
      編集する
    .input-box-title
      %textarea{:name => "title", :placeholder => "タイトル",  :rows => "1", :type => "string"}= @article.title
    .input-box-text  
      %textarea{:cols => "30", :name => "text", :placeholder => "text", :rows => "10"}= @article.text

    .input-box-image  
      %input{:name => "image", :placeholder => "Image", :type => "file", :value => "#{@article.image}"}/
    .input-box-image__del
      
      %input{:type => "submit", :value => "SENT"}/