.contents-box
  = form_with(model: Article.create, local: true, multipart: true ) do |f|
    %h3
      投稿する
      .new-article
        .input-box-title
          %input{:name => "title", :placeholder => "タイトル", :type => "string"}/
        .input-box-text  
          %textarea{:cols => "30", :name => "text", :placeholder => "", :type => "text", :rows => "10"}
        .input-box-image 
          %input{:name => "image", :placeholder => "Image", :type => "file"}/
          %input{:type => "submit", :value => "SENT"}/



-# = form_for  do |f|
-#   = f.text_field :text, class: 'form__message', placeholder: 'type a message'
  -# = form_tag('/articles')
  -# %textarea{:cols => "30", :name => "title", :placeholder => "", :type => "string", :rows => "10"}
  -# %textarea{:cols => "30", :name => "text", :placeholder => "", :type => "text", :rows => "10"}
  -# %input{:type => "submit", :value => "SENT"}/

  = form_tag('/articles', method: :post, :multipart => true ) do
    %h3
      投稿する
      .new-article
        .input-box-title
          %input{:name => "title", :placeholder => "タイトル", :type => "string"}/
        .input-box-text  
          %textarea{:cols => "30", :name => "text", :placeholder => "", :type => "text", :rows => "10"}
        .input-box-image 
          %input{:name => "image", :placeholder => "Image", :type => "file"}/
          %input{:type => "submit", :value => "SENT"}/



-#   = form_tag('/articles', method: :post) do
-#     -# %h3
-#     -#   投稿する
-#     -# %input{:name => "name", :placeholder => "name", :type => "text"}/
-#     -# %input{:name => "image", :placeholder => "Image Url", :type => "text"}/
-#     -# %textarea{:cols => "30", :name => "text", :placeholder => "text", :rows => "10"}
-#     -# .form__mask    
-#     -#   = f.label :image 
-#     -#     = fa_icon 'picture-o', class: 'icon'
          -# %input{:name => "article[image]", :placeholder => "name", :type => "text", :type => "file"}/
          
-#     -# %input{:type => "submit", :value => "SENT"}/

    
-#     %h3
-#       投稿する
-#       .new_message
-#         -# %input{:type => "hidden"}/
-#         -# %input{:name => "image", :placeholder => "Image Url", :type => "text"}/
-#         .input-box-title
-#           -# %input{:type => "title", :placeholder => ""}/
-#           %textarea{:cols => "30", :name => "title", :placeholder => "text", :rows => "1"}
-#         .input-box-text
-#           -# %input{:type => "text", :placeholder => ""}/
-#           %textarea{:cols => "30", :name => "text", :placeholder => "text", :rows => "10"}
-#         .input-box-image  
-#           -# %label.input-box__image{:for => "article_image"}
-#           -#   %i.fa.fa-image
-#           -#   %input#article_image.input-box__image__file{:name => "image", :type => "file"}/
-#           %input{:type => "submit", :value => "SENT"}/
        


-# -# .contents-box
-# -#   = form_tag('/articles', method: :post) do
-# -#     %h3
-# -#       投稿する
-# -#     = f.text_field :content, class: 'form__article', placeholder: 'type a message'
-# -#     .form__mask
-# -#       = f.label :image, class: 'form__mask__image' do
-# -#         = fa_icon 'picture-o', class: 'icon'
-# -#         = f.file_field :image, class: 'hidden'
-# -#     = f.submit 'Send', class: 'form__submit'