.contents-box
  = form_with(model: Article.create, local: true, multipart: true ) do |f|
    %h3
      投稿する
      .new-article
        .input-box-title
          %input{:name => "title", :placeholder => "タイトル", :type => "string"}/
        .input-box-text  
          %textarea{:cols => "30", :name => "text", :placeholder => "", :type => "text", :rows => "10"}
        .input-box-image 
          %input{:name => "image", :placeholder => "Image", :type => "file"}/
          %input{:type => "submit", :value => "SENT"}/

