-# - breadcrumb :show_user          
.main-index-box.displayflex
  .main-contents.fadein
    .main-contents-mypage-heading
      = current_user.name
      さんのマイページ
    .articles-box-mypage-heading
      いいね一覧
    .articles-box-mypage 
      = render partial: 'users/likes'

    .kaminari-under
      = paginate(@likes)  


.side-bar-mypage
  = render 'shared/side-bar-mypage'