- breadcrumb :show_user          
.main-index-box.displayflex
  .main-contents.fadein
    .main-contents-mypage-heading
      = @user.name
      さんのマイページ
    .articles-box-mypage-heading
      最新の投稿
    .articles-box-mypage 
      = render partial: 'users/userarticle', collection: @user_articles, as: :user_articles


      .kaminari-under
        = paginate(@article)

.side-bar-mypage
  = render 'shared/side-bar-mypage'


