.side-bar-mypage-box.fadein
  %ul.mypage-side-menu-box
    %li.mypage-side-menu-box__list
      お知らせ 
    %li.mypage-side-menu-box__list
      プロフィール
    %li.mypage-side-menu-box__list
      =link_to user_path(current_user) do
        投稿記事
    %li.mypage-side-menu-box__list
      キャンバス
    %li.mypage-side-menu-box__list
      = link_to user_likes_path(current_user) do
        いいね一覧   
    %li.mypage-side-menu-box__list
      フォロー 
    %li.mypage-side-menu-box__list
      コミュニティ 
    %li.mypage-side-menu-box__list
      マイアイテム 
    %li.mypage-side-menu-box__list
      カレンダー・ペット記録  
    %li.mypage-side-menu-box__list
      本人情報 
    %li.mypage-side-menu-box__list
      .mypage-side-menu-box__list__logout
        = link_to "ログアウト", destroy_user_session_path, method: :delete





