.contents-box{
  width: 100vw;
  padding: 10px 40px;
  margin: 10px 40px 40px;
  box-sizing: border-box;
  overflow: scroll;
  border: 2px solid $green_light5;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;

  .content_post {
    position: relative;
    height: 400px;
    color: black;
    background-size: cover;
    background-position: center center;
    border: 2px solid $green_light5;
    border-radius: 5px;
  }

  .success{
    width: 100%;
    height: 150px;
    padding: 10px 20px;
    border: 2px solid $green_light5;
    border-radius: 5px;
    box-sizing: border-box;
    
  }

  form {
    width: 75%;
    margin:0 auto;
    .input-box{
    
    }
    h3 {
      text-align: center;
      font-weight: normal;
      font-size: 20px;
      color: $black;
    }
    .input-box-title{
      width: 100%;
      line-height: 20px;
      margin-bottom: 5px;
    input,textarea {
      width: 100%;
      border-radius: 5px;
      overflow: scroll;
      top:0;
      left:0;
  }
}
    .input-box-text {
      height: 100px;
      width: 100%;
      border: 1px solid $green_light5;
      border-radius: 5px;
      overflow: scroll;
      margin-bottom: 5px;
      input,textarea {
        width: 100%;
        border-radius: 5px;
        overflow: scroll;
        top:0;
        left:0;

      }
    }

    #preview-image-box{
      // height: 300px;
      // width: 20%;
      // border: 1px dashed $green_light5;
      // // text-align: center;
      // // vertical-align: middle;
      // font-size: 40px;
      // position: relative;
      // margin: 10px;

    }

    .dropzone-area {
      height: 200px;
      width: 25%;
      border: 1px dashed $green_light5;
      // text-align: center;
      // vertical-align: middle;
      font-size: 40px;
      position: relative;
      margin: 10px;

      &__label{
        position: absolute;
        top: 42%;
        left: 40%;
        

      }

      // display: block;
      // border dash
      .input-box-image{
        // width: 100%;
        // border: 1px solid $green_light5;
        // border-radius: 5px;
        display:none;

      }
    }




    input[type="submit"] {
      background-color: $green_light3;
      color: #fff;
      width: 100%;
      border: 1px solid $green_light5;
      border-radius: 5px;

      &:hover {
        background-color: lighten($green_light5, 10%);
      }
    }

    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $green_light3;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
  }
}


  .article-post-main-image{
    text-align: center;
  }

  .article-post-main-title {
    width: 50%;
    font-size: 20px;
    margin-top: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    border-bottom: 2px solid $green_light5;
  }
  .article-post-main-text  {
    font-size: 15px;
    margin-bottom: 2px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    word-break: break-all;

}

.article-post-main-info{
  .article-post-show-contributer{
    font-size: 15px;
    margin-bottom: 2px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }
    .article-post-show-user {
      font-size: 15px;
      padding-left: 5px;
      margin-bottom: 2px;
      overflow: hidden;
      white-space: pre-wrap;
      text-overflow: ellipsis;
      word-break: break-all;
    }
  }
}
