.notification {
  .notice {
    height: 20px;
    width: 100%;
    background-color: $green_dark1;
    color: $white;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top: 0px;
    z-index: 3;
    display: table;
    animation: fade-in-out 1s ease 1s forwards;
  }

  .alert {
    height: 20px;
    width: 100%;
    background-color: $green_dark1;
    color: $white;
    text-align: center;
    position: absolute;
    top:0;
    z-index: 3;
    display: table-cell;
  }
}
@-webkit-keyframes fade-in-out {
  // 0% {visibility: hidden; opacity: 0;}
  50% {visibility: visible; opacity: 1;}
  100% {visibility: hidden; opacity: 0;}
}

// @keyframes fade-in-out {
//   0% {visibility: hidden; opacity: 0;}
//   50% {visibility: visible; opacity: 1;}
//   100% {visibility: hidden; opacity: 0;}
// }