.notification {
  .notice {
    background-color: $green_dark1;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $green_dark1;
    color: $white;
    text-align: center;
  }
}