a:link {
  color: $green_dark1;
}
a:visited {
  color: $green_dark1;
}
a:hover {
  color: $green_dark1;
  z-index: 3;
}
a:active {
  color: $green_dark1;
  z-index: 3;
}
// 下段ヘッダー
.header-low {
  height: 24px;
  width: 100%; 
  box-sizing: border-box;
  position: fixed;
  top: 40px;
  z-index: 1;
  font-weight: bold;
  .header-low__row{
    line-height: 24px;
    color: $green_light3;
    a {
      width: 100%; 
      color: $white;
    }
    .left-header-low-btn{
      width: calc(100vw - 200px);
      float: left;
      color: $white;
      .main-contents-categories{
        width: 100%; 
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
        justify-content: space-around;
        align-items: baseline; 
        cursor :pointer;
        li{
          width: 100%; 
          list-style: none;

        }
        // カテゴリhover
        &__genres{
          width: calc(calc(100vw - 220px)/7);       
          border: 1px solid $green_light5;
          border-bottom: 2px solid $green_light5;
          min-width: 112px;
          background-color: $green_light1;
          #header-genre__list{
            width: 100%; 
            min-width: 112px;
            display:none;
            .parents__list{
              width: 100%; 
              color: $white;
              a {
                width: 100%; 
                color: $white;
              }
              .parents__list-box{
                width: 100%; 
              }
            }
          }
        }
        &__categories{
          width: calc(calc(100vw - 220px)/7 * 2);   
          border: 1px solid $green_light5;
          border-bottom: 2px solid $green_light5;
          min-width: 180px;
          background-color: $green_light1;
          #header-genre__list{
            min-width: 180px;
            display:none;
            .parents__list{
              a {
                width: 100%; 
                color: $white;
              }
              .parents__list-box{
                width: 100%; 
              }
            }
          }
        }
        &__ranking{
          width: calc(calc(100vw - 220px)/7);    
          border: 1px solid $green_light5;
          border-bottom: 2px solid $green_light5;
          min-width: 112px;
          background-color: $green_light1;
        }
        &__lost_child{
          width: calc(calc(100vw - 210px)/7);   
          border: 1px solid $green_light5;
          border-bottom: 2px solid $green_light5;
          min-width: 112px;
          background-color: $green_light1;
        }
      }
      .main-contents-other{
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
        justify-content: space-around;
        align-items: baseline; 
        box-sizing: border-box;
        &__follow{
          width: calc(calc(100vw - 220px)/7);       
          border: 1px solid $green_light5;
          border-bottom: 2px solid $green_light5;
          min-width: 112px;
          background-color: $green_light1;
        }
        &__myitem{
          width: calc(calc(100vw - 220px)/7);   
          border: 1px solid $green_light5;
          border-bottom: 2px solid $green_light5;
          min-width: 112px;
          background-color: $green_light1;
        }
        &__detailed-search{
          width: calc(calc(100vw - 220px)/7);    
          border: 1px solid $green_light5;
          border-bottom: 2px solid $green_light5;
          min-width: 112px;
          background-color: $green_light1;
        }
      }
    }
    .right-header-low-btn {
      width: 200px;
      float: right;
      background-color: $green_light1;
      .tweet-order  {
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
        justify-content: space-around;
        align-items: baseline; 
        &__new  {
          border: 1px solid $green_light5;
          border-bottom: 2px solid $green_light5;
        }
      }
    }
  }
  .now-selected-header{
    background-color: $green_light5;
  }
}