// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-box{
  height: calc(100vh -60px);
  width: 100vw;
  padding-top: 90px;
  float: left;
  display: flex;
  box-sizing: border-box;
  z-index: 0;

.main-contents {
  height: calc(100vh -5px);
  width: calc(100vw - 200px);
  padding: 10px 60px;
  margin-bottom: 60px;
  box-sizing: border-box;
  overflow: scroll, hidden;
  

  .article-post{
  height: 150px;
  padding: 10px 20px;
  margin: 10px;
  border: 2px solid $green_light5;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: normal;


  .article-post-content{
    width: calc(100% - 120px);
    float: left;
    box-sizing: border-box;

  .article-post__title{
    height: 20px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    border-bottom: 2px solid $green_light5;
  }

  .article-post__text{
    height: 90px;
    font-size: 15px;
    margin-top: 5px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }

}

  .article-post__image{
    height: 100px;
    width: 100px;
    padding-left: 20px;
    padding-top: 7px;
    float: right;
  }





}

.kaminari{
  padding: 10px 10px;
  margin: 10px;
  box-sizing: border-box;
}

}

}



