
@media screen and (max-width: 980px) {
  .header-navi {
    display : none;
  }
  .header-first-dropdown__icon {
    display : none;
  }
  .main-contents-other {
    display : none;
  }
  .main-contents-other__follow {
    display : none;
  }
  .main-contents-other__myitem {
    display : none;
  }
  .main-contents-other__detailed-search {
    display : none;
  }
}  
@media screen and (max-width: 680px) {
  .main-contents-categories__smallanimals {
    display : none;
  }
  .main-contents-categories__others {
    display : none;
  }
  .user-info-list__like {
    display : none;
  }
  .user-info-list__contribution {
    display : none;
  }
}  
@media screen and (max-width: 480px) {
  .main-contents-categories__dogs {
    display : none;
  }
  .main-contents-categories__cats {
    display : none;
  }
} 