@import "config/colors";
@import "config/font-size";
@import "config/reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "config/defolt";
@import "mixins/mixin";
@import "modules/flash";
@import "modules/header";
@import "modules/header-btn";
@import "modules/articles/maincontents";
@import "modules/articles/contents-box";
@import "modules/articles/content_new";
@import "modules/articles/comment";
@import "modules/side-bar";
@import "modules/users/user";
@import "modules/users/progress";
@import "modules/fadein";
@import "modules/responsive";
@import "error-message";

// @font-face {
//   font-family: 'あずきフォント';
//   src: url('./fonts/azuki.woff') format('woff'),
//        url('./fonts/azuki.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }  

.wrapper{
  color: #000;
  box-sizing: border-box;   
	font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";  margin: 0;
  padding: 0;
  display: flex;
  
}
.background {
  min-height: 100vh; /* 最小の高さ */
  width: 100vw;
  background: $background;
}
 
body > .background {
  height: auto; /* 要素を超えた分の背景が伸びないブラウザ用 */
}

.displayflex{
  display: flex;
}

a {
  text-decoration: none;
  }



