.header-select-btn
  = render 'details/header-btn-details' 

.main-index-box.displayflex
  .main-contents.fadein
    .index-render-container
      .index-render    
        .index-render-box-category-walk.index-render-box-lightgreen
          %p4 しつけ
          = render partial: 'articles/article', collection: @articles_discipline
      .kaminari-category
        = paginate(@articles_discipline)   
  .side-bar
    = render 'shared/side-bar'   
