.header-select-btn
  = render 'details/header-btn-details' 

.main-index-box.displayflex
  .main-contents.fadein
    .index-render-container
      .index-render    
        .index-render-box-category-walk.index-render-box-lightgreen
          %p4 その他
          = render partial: 'details//article', collection: @articles_other
      .kaminari-category
        = paginate(@articles_other)          
  .side-bar
    = render 'shared/side-bar'         