.header-select-btn
  = render 'details/header-btn-details' 

.main-index-box.displayflex
  .main-contents.fadein
    .index-render-container
      .index-render    
        .index-render-box-category-walk.index-render-box-lightgreen
          %p4 怪我・病気・予防・介護
          = render partial: 'articles/article', collection:  @articles_sick
      .kaminari-category
        = paginate( @articles_sick)          
  .side-bar
    = render 'shared/side-bar'         