.header-select-btn
  = render 'details/header-btn-details' 

.main-index-box.displayflex
  .main-contents.fadein
    .articles-box-search
      .index-render-container
        .index-render    
          .index-render-box
            %p4 新着記事
            = render partial: 'details//article', collection: @articles
        .kaminari-under
          = paginate(@articles)    
  .side-bar
    = render 'shared/side-bar'   
